/* Grid Mobile Styles */

@media (max-width: 800px) {
  .grid {
    padding-top: 40px;
  }
}

@media (max-width: 450px) {
  .grid {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .gridItem {
    width: 80%;
    margin-left: 0;
    align-content: center;
  }
  .gridImage:hover {
    box-shadow: none;
    transition: none;
    transform: none;
    cursor: pointer;
  }
  /* black popup area */
  .modalContent {
    display: flex;
    justify-content: flex-start;
    width: 85%;
  }
  /* The Close Button */
  .close {
    font-size: 1em;
  }
  .infoTitle {
    font-size: 1em;
    /* border: green 2px solid; */
  }
  .location {
    font-size: .75em;
    /* border: blue 2px solid; */
  }
  .fImageItem {
    width: 67%;
    padding: 5px 5px 50px 5px;
    /* border: hotpink 2px solid; */
    overflow: hidden;
  }
}

