/* Connect Mobile Styles */

@media(max-width:800px) {
  .pageC {
    padding-top: 50px;
  }

}

@media(max-width:400px) {
  .pictureFrame {
    width: 125px;
  }

  .logoFrame{
    height: 50px;
  }
  .logo{
    height:40px;
    width:auto;
  }
}
