/* NavBar Mobile Styles */

@media(max-width:800px) {
  .nav {
    display: none;
  }
  .topLayer{
    position: absolute;
  }
  .mStick {
    width: 100%;
    scroll-behavior: auto;
    position: fixed;
    display: flex;
    background: white;
    z-index: 200;
  }
  .header {
    display:flex;
    color: #404040;
    background: white;
    font-size: 1.2em;
    font-family: Verdana;
    margin: 10px;
    padding-left: 0%;
    text-align: center;
  }
 
  .menuIcon {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    font-size: 1.5em;
  }
  .navMobile {
    background: white;
    position: absolute;
    top:40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin:auto;
    /* border: hotpink 2px solid; */
  }
  .navMobile a:hover {
    background-color: #404040;
    color: white;
    font-family: Verdana;
    cursor: pointer;
  }
  .navButton {
    padding: 10px;
    /* margin: auto; */
    margin-top: 10px;
    /* background: #CCCCCC; */
    width: 60%;
    /* border-radius: 5px; */
  }
}
@media(max-width:400px) {
  .headerMobile {
    display:flex;
    color: #404040;
    background: white;
    font-size: 1.2em;
    font-family: Verdana;
    margin: 10px;
    padding-left: 0%;
    text-align: center;
  }
  .header{
    display: none;
  }
}